<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener
			class-name="SeleniumPracticeProject.QAClick.Listeners" />
	</listeners>
	<test thread-count="5" name="Validating Elements">

		<classes>
			<class
				name="SeleniumPracticeProject.QAClick.ValidateFrameandConnectionsTest" />
			<class
				name="SeleniumPracticeProject.QAClick.ValidateElementsTest" />
			<class
				name="SeleniumPracticeProject.QAClick.ValidateOtherElementsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
